{{#if searches}}
        <h2>Search Details</h2>
            Here are the search details set for the plugins that generated the errors found in the next section:
            <br/>

        <ul>
            {{#if keyword_sets}}
                <li><strong>Search Keywords:</strong>

                    {{#each keyword_sets}}
                        {{key}}
                    {{/each}}
                </li>
            {{/if}}
            {{#if email}}
            <li><strong>Emails:</strong>
                <ul>
                    {{#each email.email_addresses}}
                        <li>
                            {{type}}: {{address}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if location_sets}}
                <li><strong>Search Locations:</strong>
                    {{#each location_sets}}
                        {{@key}}
                    {{/each}}
                </li>
            {{/if}}
            </ul>
{{/if}}