.idea*
*backup*
*.lock
*/generated-sql*
*/generated-migrations*
vendor/*
*obsolete*
*.pyc
*.diff
**/personal
**/experiments


python/pyJobNormalizer/venv
*.NOTREADY
.env

docker-compose.override.yml
**/node_modules
**/.venv
**/tools
**/discover_jobsites
