.idea*
*backup*
*.lock
*/generated-sql*
*/generated-migrations*
vendor/*
*obsolete*
*.pyc
*.diff
/scripts/personal/*


python/pyJobNormalizer/venv
*.NOTREADY
.env

docker-compose.override.yml
**/node_modules
**/.venv
