.idea*

*.lock

vendor

*obsolete*

ScoopJobs.app*

*IGNORE*

configs/*


*.jar
output
scripts
configs*
*.pyc
chromedriver
geckodriver
uncommitted-patches
*.diff
sshkeys
include/static/source_files
python/pyJobNormalizerVirtualEnv
