nltk
# nltk data also required
# run 'sudo python -m nltk.downloader -d /usr/local/share/nltk_data all' to download all the data files for nltk
docopt
pandas
pymysql

cleanco
requests
nltk
future
jinja2
structlog


