<h1>Errors in JobScooper Run</h1>
<p>The following errors occurred during UserSearchRun {{app_run_id}} on <strong>{{server}}</strong>
    running <strong>{{app_version}}</strong> for {{daterange}}:</p>
<div>
    {{{monolog_error_content}}}
</div>

<div>
    {{{search_parameters_content}}}
</div>

