<h2>Search Details</h2>
Paramaters set for the job site plugins which generated the errors.
<br/>

{{#if this}}
<ul>
    {{#each this}}
    <li><strong>{{@key}}</strong>
            {{#if .}}
                <ul>
                {{#each .}}
                    <li>{{@key}}: {{.}}</li>
                {{/each}}
                </ul>
            {{/if}}
    {{/each}}

</ul>
{{/if}}
