<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{subject}}</title>
    {{>mc_html_global_css_partial}}

</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                    <!--                    <tr>
                                            <td align="center" valign="top">
                    -->                            <!-- BEGIN PREHEADER // -->
                            <!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                                <tr>
                                    <td valign="top" class="preheaderContent" style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;" mc:edit="preheader_content00">
                                        Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.
                                    </td>
                                </tr>
                            </table>
                            -->
                            <!-- // END PREHEADER -->
                    <!--                        </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- BEGIN HEADER
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                                    <tr>
                                                        <td valign="top" class="headerContent">
                                                            <img src="https://www.dropbox.com/s/7qyonf7fw10bp06/jobscooper_v4logo.png?dl=1"
                                                                 style="max-width:600px;" id="headerImage"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                                // END HEADER -->
                    <!--                        </td>
                                        </tr>
-->
                    <tr>
                                            <td align="center" valign="top">
                                                <!-- BEGIN BODY // -->
                            <h1>Job Site Plugin Errors</h1>

                            {{>html_email_plugin_errors}}

                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <!-- BEGIN FOOTER // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                <tr>
                                    <td valign="top" class="footerContent">
                                        <a href="http://github.com/selner/job_scooper_v4">Follow on Github</a>&nbsp;&nbsp;&nbsp;<a
                                            href="https://github.com/selner/job_scooper_v4/issues">Report an Issue</a>
                                        <!--&nbsp;&nbsp;&nbsp;<a href="*|FORWARD|*">Forward to Friend</a>&nbsp; -->
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="footerContent" style="padding-top:0;">
                                        <em>Copyright &copy; 2017 RecoilVelocity, All rights reserved.</em>
                                        <!--
                                                                                        <br />
                                                                                        *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                                                                                        <br />
                                                                                        <br />
                                                                                        <strong>Our mailing address is:</strong>
                                                                                        <br />
                                                                                        *|HTML:LIST_ADDRESS_HTML|* *|END:IF|*
                                        -->
                                    </td>
                                </tr>
                                <!--
                                                                        <tr>
                                                                            <td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content02">
                                                                                <a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
                                                                            </td>
                                                                        </tr>
                                -->
                            </table>
                            <!-- // END FOOTER -->
                        </td>
                    </tr>
                </table>
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
</center>
</body>
</html>